@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .roboto-mono-400 {
        font-family: 'Roboto Mono', monospace;
        font-weight: 400;
    }

    .bebas-400 {
        font-family: 'Bebas Neue', sans-serif;
        font-weight: 400;
    }
    .inter-400 {
        font-family: 'Inter', sans-serif;
        font-weight: 400;
    }
    .montserrat-500 {
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
    }
    .Diphylleia-400 {
        font-family: 'Diphylleia', sans-serif;
        font-weight: 500;
    }
}

@layer components {
    .max-width-1200 {
        max-width: 1200px;
    }

    .max-screen {
        max-width: 100vw;
    }
}